.root {
  color: #ffd700;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  align-content: center;
  margin: 20px;
}
.div1 {
}
.div2 {
  margin: 10px;
}
.a1 {
  margin: 10px;
}
.a2 {
  margin: 10px;
}
.a3 {
  margin: 10px;
}
.a4 {
  margin: 10px;
}
